{% extends "base.html" %}
{% block title %}
    首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}"
{% endblock %}

{% block content %}
    <ul class="index-content">
        {% for question in questions %}
            <li>
            <div class="avater-group">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="avater">
            </div>
            <div class="question-group">
                <p class="question-title">
                    <a href="{{ url_for('talking_detail',talking_id=question.id)}}">{{ question.title }}</a>
{#                    <form action="{{ url_for('delete_info') }}" method="post">#}
{#                        <button type="submit" class="btn btn-secondary radius" style="float:right">删除</button>#}
{#                    </form>#}
                </p>
                <p class="question-content">{{ question.content }}</p>
                {% if question.imgurl == "../static/user_images/None" %}
                    <p></p>
                {% else %}
                    <p class="question-img"><img style="width: auto;height: auto;max-width: 100%;max-height: 100%" src={{ question.imgurl }}></p>
                {% endif %}
            </div>
            <div class="question-info">
                <span class="question-author">{{ question.author.username }}</span>
                <span class="question-time">{{ question.create_time }}</span>
            </div>
        </li>
        {% endfor %}

    </ul>

{% endblock %}
